<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">


      <div class="page-header">          
        <h1>
          Treatment <%= @treatment.id %>
        </h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">    
          <%= render 'layouts/sidebar_show' %>
        </div>
      </div>     

      <div class="col-md-9" id="rightCol"> 
        <div class="well">          
          <div class="panel panel-info">
            <div class="panel-body"> 

              <p>
                <strong>Temperature:</strong>
                <%= @treatment.temperature %>
              </p>

              <p>
                <strong>Temperature in degree:</strong>
                <%= @treatment.temperature_in_degree %>
              </p>

              <p>
                <strong>Steam:</strong>
                <%= @treatment.steam %>
              </p>

              <p>
                <strong>Steam in percent:</strong>
                <%= @treatment.steam_in_percent %>
              </p>

              <p>
                <strong>Fumigation gas:</strong>
                <%= @treatment.fumigation_gas %>
              </p>

              <p>
                <strong>Fumigation gas in percent:</strong>
                <%= @treatment.fumigation_gas_in_percent %>
              </p>

              <p>
                <strong>Optical:</strong>
                <%= @treatment.optical %>
              </p>

              <p>
                <strong>Mechanical:</strong>
                <%= @treatment.mechanical %>
              </p>

              <p>
                <strong>Process type:</strong>
                <%= @treatment.process_type %>
              </p>

              <p>
                <strong>T ph:</strong>
                <%= @treatment.t_ph %>
              </p>

              <p>
                <strong>Pressure:</strong>
                <%= @treatment.pressure %>
              </p>

              <p>
                <strong>Kgy dose:</strong>
                <%= @treatment.kgy_dose %>
              </p>

              <p>
                <strong>T aw:</strong>
                <%= @treatment.t_aw %>
              </p>

              <p>
                <strong>Water activity:</strong>
                <%= @treatment.water_activity %>
              </p>

              <p>
                <strong>Other condition:</strong>
                <%= @treatment.other_condition %>
              </p>

              <p>
                <strong>Treat duration:</strong>
                <%= @treatment.treat_duration %>
              </p>

              <p>
                <strong>Treat duration unit:</strong>
                <%= @treatment.treat_duration_unit %>
              </p>

              <p>
                <strong>T comment:</strong>
                <%= @treatment.t_comment %>
              </p>

              <p>
                <strong>Reference:</strong>
                <%= @treatment.reference_id %>
              </p>

              <p>
                <strong>User:</strong>
                <%= @treatment.user_id %>
              </p>

              <p>
                <strong>Matrix:</strong>
                <%= @treatment.matrix_id %>
              </p>

            </div>
          </div>    
          <%= link_to 'Edit Treatment', edit_treatment_path(@treatment), class: "btn btn-warning btn-sm" %> |  | 
          <%= link_to 'Delete', @spiking, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %> | 
          <%= link_to 'Back to all Treatments', treatments_path, class: "btn btn-info btn-sm" %> 
        </div>
      </div>

    </div>     
  </div>
</div>



