<%= form_for(@tenacityrerult) do |f| %>
  <% if @tenacityrerult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tenacityrerult.errors.count, "error") %> prohibited this tenacityrerult from being saved:</h2>

      <ul>
      <% @tenacityrerult.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tena_duration %><br>
    <%= f.text_field :tena_duration %>
  </div>
  <div class="field">
    <%= f.label :tena_duration_unit %><br>
    <%= f.text_field :tena_duration_unit %>
  </div>
  <div class="field">
    <%= f.label :final_concentration %><br>
    <%= f.number_field :final_concentration %>
  </div>
  <div class="field">
    <%= f.label :f_concentration_unit %><br>
    <%= f.text_field :f_concentration_unit %>
  </div>
  <div class="field">
    <%= f.label :decimal_reduction %><br>
    <%= f.text_field :decimal_reduction %>
  </div>
  <div class="field">
    <%= f.label :tena_comment %><br>
    <%= f.text_area :tena_comment %>
  </div>
  <div class="field">
    <%= f.label :tenacity_id %><br>
    <%= f.number_field :tenacity_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
