<h1>Listing tenacityrerults</h1>

<table>
  <thead>
    <tr>
      <th>Tena duration</th>
      <th>Tena duration unit</th>
      <th>Final concentration</th>
      <th>F concentration unit</th>
      <th>Decimal reduction</th>
      <th>Tena comment</th>
      <th>Tenacity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tenacityrerults.each do |tenacityrerult| %>
      <tr>
        <td><%= tenacityrerult.tena_duration %></td>
        <td><%= tenacityrerult.tena_duration_unit %></td>
        <td><%= tenacityrerult.final_concentration %></td>
        <td><%= tenacityrerult.f_concentration_unit %></td>
        <td><%= tenacityrerult.decimal_reduction %></td>
        <td><%= tenacityrerult.tena_comment %></td>
        <td><%= tenacityrerult.tenacity_id %></td>
        <td><%= link_to 'Show', tenacityrerult %></td>
        <td><%= link_to 'Edit', edit_tenacityrerult_path(tenacityrerult) %></td>
        <td><%= link_to 'Destroy', tenacityrerult, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tenacityrerult', new_tenacityrerult_path %>
