<p id="notice"><%= notice %></p>

<p>
  <strong>Tena duration:</strong>
  <%= @tenacityrerult.tena_duration %>
</p>

<p>
  <strong>Tena duration unit:</strong>
  <%= @tenacityrerult.tena_duration_unit %>
</p>

<p>
  <strong>Final concentration:</strong>
  <%= @tenacityrerult.final_concentration %>
</p>

<p>
  <strong>F concentration unit:</strong>
  <%= @tenacityrerult.f_concentration_unit %>
</p>

<p>
  <strong>Decimal reduction:</strong>
  <%= @tenacityrerult.decimal_reduction %>
</p>

<p>
  <strong>Tena comment:</strong>
  <%= @tenacityrerult.tena_comment %>
</p>

<p>
  <strong>Tenacity:</strong>
  <%= @tenacityrerult.tenacity_id %>
</p>

<%= link_to 'Edit', edit_tenacityrerult_path(@tenacityrerult) %> |
<%= link_to 'Back', tenacityrerults_path %>
