<p id="notice"><%= notice %></p>

<p>
  <strong>Cfu initial:</strong>
  <%= @result.cfu_initial %>
</p>

<p>
  <strong>Cfu initial unit:</strong>
  <%= @result.cfu_initial_unit %>
</p>

<p>
  <strong>Detectability:</strong>
  <%= @result.detectability %>
</p>

<p>
  <strong>Cfu detected:</strong>
  <%= @result.cfu_detected %>
</p>

<p>
  <strong>Cfu detected unit:</strong>
  <%= @result.cfu_detected_unit %>
</p>

<p>
  <strong>R comment:</strong>
  <%= @result.r_comment %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
