<h1>Listing agents</h1>

<table>
  <thead>
    <tr>
      <th>A common name</th>
      <th>A family</th>
      <th>A genus</th>
      <th>A species</th>
      <th>Subspecies</th>
      <th>Serovar</th>
      <th>Other agent name</th>
      <th>Ref number</th>
      <th>Rate of illness</th>
      <th>Morbidity</th>
      <th>Mortality</th>
      <th>Isolation source</th>
      <th>Natural occurence</th>
      <th>A comment</th>
      <th>Reference</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.a_common_name %></td>
        <td><%= agent.a_family %></td>
        <td><%= agent.a_genus %></td>
        <td><%= agent.a_species %></td>
        <td><%= agent.subspecies %></td>
        <td><%= agent.serovar %></td>
        <td><%= agent.other_agent_name %></td>
        <td><%= agent.ref_number %></td>
        <td><%= agent.rate_of_illness %></td>
        <td><%= agent.morbidity %></td>
        <td><%= agent.mortality %></td>
        <td><%= agent.isolation_source %></td>
        <td><%= agent.natural_occurence %></td>
        <td><%= agent.a_comment %></td>
        <td><%= agent.reference_id %></td>
        <td><%= agent.user_id %></td>
        <td><%= link_to 'Show', agent %></td>
        <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
        <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path %>
