<p id="notice"><%= notice %></p>

<p>
  <strong>Spik weight of sample:</strong>
  <%= @spikingparam.spik_weight_of_sample %>
</p>

<p>
  <strong>Spik weight of sample unit:</strong>
  <%= @spikingparam.spik_weight_of_sample_unit %>
</p>

<p>
  <strong>Cfu of inoculum per ml:</strong>
  <%= @spikingparam.cfu_of_inoculum_per_ml %>
</p>

<p>
  <strong>Cfu per gram spice spiked:</strong>
  <%= @spikingparam.cfu_per_gram_spice_spiked %>
</p>

<p>
  <strong>Carrier substance:</strong>
  <%= @spikingparam.carrier_substance %>
</p>

<p>
  <strong>Carrier fluid:</strong>
  <%= @spikingparam.carrier_fluid %>
</p>

<p>
  <strong>Spik duration:</strong>
  <%= @spikingparam.spik_duration %>
</p>

<p>
  <strong>Spik duration unit:</strong>
  <%= @spikingparam.spik_duration_unit %>
</p>

<p>
  <strong>Spik comment:</strong>
  <%= @spikingparam.spik_comment %>
</p>

<%= link_to 'Edit', edit_spikingparam_path(@spikingparam) %> |
<%= link_to 'Back', spikingparams_path %>
