<%= form_for(@contaminationstatus) do |f| %>
  <% if @contaminationstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contaminationstatus.errors.count, "error") %> prohibited this contaminationstatus from being saved:</h2>

      <ul>
      <% @contaminationstatus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cfu_natural_contamination %><br>
    <%= f.text_field :cfu_natural_contamination %>
  </div>
  <div class="field">
    <%= f.label :cfu_natural_contamination_unit %><br>
    <%= f.text_field :cfu_natural_contamination_unit %>
  </div>
  <div class="field">
    <%= f.label :matrix_id %><br>
    <%= f.number_field :matrix_id %>
  </div>
  <div class="field">
    <%= f.label :agent_id %><br>
    <%= f.number_field :agent_id %>
  </div>
  <div class="field">
    <%= f.label :tenacity_id %><br>
    <%= f.number_field :tenacity_id %>
  </div>
  <div class="field">
    <%= f.label :treatment_id %><br>
    <%= f.number_field :treatment_id %>
  </div>
  <div class="field">
    <%= f.label :spiking_id %><br>
    <%= f.number_field :spiking_id %>
  </div>
  <div class="field">
    <%= f.label :samplepreparation_id %><br>
    <%= f.number_field :samplepreparation_id %>
  </div>
  <div class="field">
    <%= f.label :detection_id %><br>
    <%= f.number_field :detection_id %>
  </div>
  <div class="field">
    <%= f.label :reference_id %><br>
    <%= f.number_field :reference_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
