<p id="notice"><%= notice %></p>

<p>
  <strong>Cfu natural contamination:</strong>
  <%= @contaminationstatus.cfu_natural_contamination %>
</p>

<p>
  <strong>Cfu natural contamination unit:</strong>
  <%= @contaminationstatus.cfu_natural_contamination_unit %>
</p>

<p>
  <strong>Matrix:</strong>
  <%= @contaminationstatus.matrix_id %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @contaminationstatus.agent_id %>
</p>

<p>
  <strong>Tenacity:</strong>
  <%= @contaminationstatus.tenacity_id %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @contaminationstatus.treatment_id %>
</p>

<p>
  <strong>Spiking:</strong>
  <%= @contaminationstatus.spiking_id %>
</p>

<p>
  <strong>Samplepreparation:</strong>
  <%= @contaminationstatus.samplepreparation_id %>
</p>

<p>
  <strong>Detection:</strong>
  <%= @contaminationstatus.detection_id %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @contaminationstatus.reference_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @contaminationstatus.user_id %>
</p>

<%= link_to 'Edit', edit_contaminationstatus_path(@contaminationstatus) %> |
<%= link_to 'Back', contaminationstatuses_path %>
