<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Instructions</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
      <li class="active"><%= link_to "General funtions", home_general_functions_path %></li>
      <li class="active"><%= link_to "How to make insertions", home_how_insertions_path %></li>
      <li class="active"><%= link_to "How to search", home_how_search_path %></li>
      <li class="active"><%= link_to "What are Informations?", home_what_info_path %></li>
      <li class="active"><%= link_to "How to join dicussions", home_join_discuss_path %></li>
      <li class="active"><%= link_to "How to change your profile", home_change_profile_path %></li>
    </ul>
  </div> 
</div> 









