<h3>Insert</h3> 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Basics</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
      <li ><%= link_to "Reference", new_reference_path %></li>
			<li class="active"><%= link_to "Agent", new_agent_path %></li>
			<li class="active"><%= link_to "Matrix", new_matrix_path %></li>      
    </ul>
	</div> 
</div> 

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Methods</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
			<li class="active"><%= link_to "Detection", new_detection_path %></li>
			<li class="active"><%= link_to "Sample-preparation", new_samplepreparation_path %></li>
			<li class="active"><%= link_to "Spiking", new_spiking_path %></li>
			<li class="active"><%= link_to "Treatment", new_treatment_path %></li>
    </ul>
	</div> 
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Results</h3>
  </div>
  <div class="panel-body"> 
    <ul class="nav nav-sidebar">
			<li class="active"><%= link_to "Final Concentration", new_result_path %></li>
			<li class="active"><%= link_to "Tenacity Result", new_tenacity_path %></li>
			<li class="active"><%= link_to "Masterdata with natural contamination status", new_contaminationstatus_path %></li>
    </ul>
	</div> 
</div>





